page { 
height:100%; 
margin:0 auto; 
width:100%;
background-image:url(../Images/background.png);
background-repeat:repeat;
background-color:#475558; 
} 

html,body 
{ 
	background: url(../Images/background.png) repeat; 
   	height:100%; 
    margin:0; 
    padding:0; 
    width:100% 
} 

.menu { 
float:left; 
height:76%; 
width:15.5%;
border-top-width:0px; 
} 

.content { 
float:left; 
height:76%; 
width:74%;
} 

.mid_space {
	width:100%;
	height:100px;
}

.mid_content {
	width:100%;
	height:300px;
}

.side_a {
	float:left;
	width:150px;
	height:100%;
}

.side_b {
	float:left;
	width:390px;
	height:100%;
}

.uname {
	float:left;
	width:150px;
	height:20px;
	margin-top:15px;
	font-family:"Myriad Pro";
	font-size:14px;
	color:black;
	text-align:left;
	
}

.tfield {
	float:left;
	width:200px;
	height:20px;
	margin-top:15px;
	font-family:"Myriad Pro";
	font-size:14px;
	color:black;
	
}


.side_c { 
float:left; 
height:76%; 
width:9.5%;
border-top-width:0px; 
} 

.button {
	display: block;
	float:left;
	padding:0px;
	background-color:#FFFF99;
	margin:3px;
	border: 2px solid #FFCC66;
	color:black;
}
